/* Empty file for template. Remember to edit only this file and not the HTML file */
* {
    color: white;
}

[href]:hover {
    color: gold;
}

a:link {
    color: rgb(247, 110, 110);
}

a:active {
    color: gold;
}

a:visited {
    color: crimson;
}

p::first-letter {
    text-wrap: wrap;
}

h1 ~ h2 {
    font-size: 1.2rem;
    margin: 0.5rem;
}

h3:empty {
    font-size: 1.25rem;
    margin: 0.5rem;
}

h3:only-of-type {
    padding-left: 0.5rem;
}

a:only-child {
    color: crimson;
}

h1::first-letter {
    font-size: 2rem;
}

p::first-line {
    font-weight: bold;
}

:not(p) {
    font-weight: bold;
}

li::before {
    content: "<"
}

li::after {
    content: ">"
 }

 :root {
    display: flex;
    background: url(/images/Frame.jpg) no-repeat;
    background-size: auto, contain;
    background-position: center top; 
    background-color: black;
    justify-content: center;
}

::selection {
    color: black;
    background-color: white
}

input:focus {
    background-color: rgb(245, 153, 153); 
}

ul {
    list-style-type: none;
}

div p {
    text-align: left;
}

div + h3 {
    text-align: left;
}

div > h1 { 
    font-size: 2rem;
    margin: 0.5rem;
}

p { 
    font-size: 0.75rem;
    margin: 0.5rem;
}

.main div:nth-last-of-type(2) {
    margin-top: 0rem;
}

.main div:last-of-type{
    margin-top: 0rem;
}

.main div:first-of-type{
    margin-bottom: 0rem;
}

footer > a:nth-last-child(4) {
    text-decoration: underline;
}

#zen-summary {
    margin-top: 0.2rem;
}

#zen-intro {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    margin-left: 30vw;
    padding: 0.5rem;
}

#zen-preamble {
    display: flex;
    flex-flow: wrap;
    margin-right: 31.6vw;
}

.wrapper div:first-child {
    position: absolute;
    margin: -40vh auto auto 32vw
}   
    
.wrapper div:nth-last-child(2) {
    position: absolute;
    margin: -50vh auto auto 10.4vw;
}

.wrapper div:nth-of-type(3) {
    position: absolute;
    margin:-35vh auto auto 7.6vw;
}

.zen-resources {
    display: inline-block;
    background-color: black;
    border: red solid 3px;
    padding-right: 0.5rem;
}

.design-archives {
    display: inline-block;
    background-color: black;
    border: red solid 3px;
    padding-right: 0.5rem;
}

.design-selection {
    display: inline-block;
    background-color: black;
    border: red solid 3px;
    padding-right: 0.5rem;
}

.intro {
    display: flex;
    padding: 0.5rem;
}

.intro div:last-child {
    display: inline-block;
    text-align: left;
    background-color: black;
    border: red solid 3px;
    max-width: 18ch;
    position: absolute;
    margin-right: 30vw;
    margin-top: 30vh;
}

.intro .summary {
    display: inline-block;
    text-align: center;
    border: red solid 3px;
    background-color: black;
    padding: 0.5rem;
    max-width: 35ch;
}

.main.supporting, .participation, .requirments, .benefits {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    max-width: 30ch; 
    position: relative;
    margin: auto;
    margin-top: -30vh;
    
}

 [role="banner"], [role="article"]  {
    display: inline-block;
    text-align: center;
    border: red solid 3px;
    background-color: black;
    margin: 2rem;
 }

 [href] {
    text-decoration: none;
    transition: color 250ms ease;
 }

 a[href^="http"] {
    text-decoration: none;
    transition: color 250ms ease;
    color: crimson;
 }

 a[href$="page1"] {
    text-decoration: underline;
 }

 a[href*="www.mezzoblue"] {
    text-decoration: underline;
 }

 [id|="zen"] {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 [class~=archives] {
    padding: 0rem;
 }
 
